<!DOCTYPE html>
@{
    ViewBag.Title = "illnessInfo";
}
<head>
    <title></title>
    <script src="~/scripts/jquery-3.1.1.min.js"></script>
    
        
        @*<script>
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "http://www.1177.se/api/Varmland/artiklar?antal=5&key=cc7f8361f7eb4e51b46c95d376c7010a" + "&callback=?",
                    dataType: "xml",
                    success: function (resp) {
                        alert(resp);
                    },
                    error: function (e) {
                        alert('Error121212: ' + e);
                    }
                })
            });
        </script>*@

</head>


<body>
  

</body>