
@{
    ViewBag.Title = "illnessInfo";
    var key = "cc7f8361f7eb4e51b46c95d376c7010a";
}

<h2>illnessInfo</h2>
<body>
    <?xml version="1.0" encoding="utf-8" ?>
        <name> Jenny Andersson, 1177 Vårdguiden.</name>
</body>