<!DOCTYPE html>
@{
    ViewBag.Title = "illnessInfo";
    var key = "cc7f8361f7eb4e51b46c95d376c7010a";
}
<head>
    <script type="text/javascript" src="~/Scripts/body-check.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("searchIllness", "Home")",
                data: {
                    illness: "ben"
                },
                success: queryData,
                error: function (data) {
                    $("#loadingIcon").hide();
                    alert("error");
                },
                type: "POST"
            });
        })
    </script>

    <script type="text/javascript">
        function queryData(xmldata) {
            $("#loadingIcon").hide();
            var idCount = 1;
            $(xmldata).find("entry").each(function () {
                $("#containerDiv").append('<h5><b>' + $(this).find("title").text() + '</b></h5>')
                $("#containerDiv").append('<p style="color:red;">' + $(this).find("summary").text() + '</p>')
                //$("#containerDiv").append('<a data-toggle="collapse" href="#contentDiv'+ idCount+'"> read more </a>')
                //$("#containerDiv").append('<div id="contentDiv' + idCount + '" class="panel-collapse collapse out"></div>')
                //$('#contentDiv'+(idCount++)).append($(this).find("content").text())
            });
        }
    </script>
</head>

<body>

    <div id="loadingIcon" class="text-center">
        <img src="~/Pictures/Loading_icon.gif" />
    </div>


    <div class="container" id="containerDiv"></div>
</body>