@{
    ViewBag.Title = "illnessInfo";
}


<link rel="stylesheet" type="text/css" href="~/Content/MainStylesheet.css">
<head>
    <style>
        .artikellayout {
            background-color: red;
            color: blue;
        }

        #contentDiv {
            background-color: #e6e6e6;
            border-radius: 5px;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

    </style>
    <script type="text/javascript" src="~/Scripts/body-check.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("searchIllness", "Home")",
                data: {
                    illness: "ögon"
                },
                success: queryData,
                error: function (data) {
                    $("#loadingIcon").hide();
                },
                type: "POST"
            });
        })
    </script>



    <script type="text/javascript">
        function queryData(xmldata) {
            $("#loadingIcon").hide();
            $("#containerDiv").show();
            var idCount = 1;
            $(xmldata).find("entry").each(function () {

                $("#containerDiv").append('<div class="col-md-12" id="artikelDiv' + idCount + '" style="background-color:white; border-radius: 15px; margin:15px; padding-top:5px; padding-bottom:10px">')
                $('#artikelDiv' + idCount).append('<h2>' + $(this).find("title").text() + '</h2>')
                var summary = $(this).find("summary").text();
                var link = $(this).find('link').attr('href');

                if (summary.length > 600) {
                    $('#artikelDiv' + idCount).append('<div id="contentDiv' + idCount + '"class="panel-collapse collapse out"></div>');
                    $('#artikelDiv' + idCount).append('<a data-toggle="collapse" href="#contentDiv' + idCount + '"> Läs mer </a>');
                    $('#contentDiv' + idCount).append('<p>' + summary + '</p>');
                    $('#contentDiv' + idCount).append('<a href="' + link + '" target="_blank" >' + 'Läs hela artikeln' + '</a>');
                }
                else if (summary.length == 0) {
                    $('#artikelDiv' + idCount).append('<p> Finns ingen summering</p>')
                    $('#artikelDiv' + idCount).append('<a href=" ' + link + ' " target="_blank" >' + 'Läs hela artikeln' + '</a>')
                }
                else {
                    $('#artikelDiv' + (idCount)).append('<p>' + summary + '</p>')
                    $('#artikelDiv' + idCount).append('<a href=" '+ link +' " target="_blank" >' + 'Läs hela artikeln' + '</a>')
                }
                idCount++;
                $('#artikelDiv' + (idCount++)).append('</div>')
            });
        }
    </script>
</head>

<body>

    <div id="loadingIcon" class="text-center">
        <img style="width:150px" src="~/Pictures/loading.gif" />
    </div>


    <div class="container col-md-12 text-center" id="containerDiv">
        <h1 align="center" style="color:white">
        @{if (Session["illness"] != null) { @Html.Raw(Session["illness"].ToString()); } } problem kan bero på följande</h1>
    </div>
    <script>$("#containerDiv").hide();</script>
</body>