<!DOCTYPE html>
@{
    ViewBag.Title = "illnessInfo";
}



<head>
    <link rel="stylesheet" type="text/css" href="~/Content/MainStylesheet.css">
    <title>Illness info</title>

    <style>
        .artikellayout {
            background-color: red;
            color: blue;
        }

        #contentDiv {
            background-color: #e6e6e6;
            border-radius: 5px;
        }
    </style>
    <script type="text/javascript" src="~/Scripts/body-check.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("searchIllness", "Home")",
                data: {
                    illness: "ögon"
                },
                success: queryData,
                error: function (data) {
                    $("#loadingIcon").hide();
                },
                type: "POST"
            });
        })
    </script>



    <script type="text/javascript">
        function queryData(xmldata) {
            var idCount = 1;
            $(xmldata).find("entry").each(function () {

                $("#containerDiv").append('<div class="col-md-12" id="artikelDiv' + idCount + '" style="background-color:white; border-radius: 15px; margin:15px; padding-top:5px; padding-bottom:10px; border-width:3px; border-color:gray; border-style:solid;">')
                $('#artikelDiv' + idCount).append('<h2>' + $(this).find("title").text() + '</h2>')
                var summary = $(this).find("summary").text();
                var link = $(this).find('link').attr('href');

                if (summary.length > 600) {
                    $('#artikelDiv' + idCount).append('<div id="contentDiv' + idCount + '"class="panel-collapse collapse out"></div>')
                    $('#artikelDiv' + idCount).append('<a data-toggle="collapse" href="#contentDiv' + idCount + '"> Läs mer </a>')
                    $('#contentDiv' + idCount).append('<p>' + summary + '</p>')
                    $('#contentDiv' + idCount).append('<a target="_blank" href="' + link + '">' + 'Läs hela artikeln' + '</a>');
                }
                else if (summary.length === 0) {
                    $('#artikelDiv' + idCount).append('<p> Finns ingen summering</p>')
                    $('#artikelDiv' + idCount).append('<a href=" ' + link + ' " target="_blank" >' + 'Läs hela artikeln' + '</a>')
                }
                else {
                    $('#artikelDiv' + (idCount)).append('<p>' + summary + '</p>')
                    $('#artikelDiv' + idCount).append('<a href="' + link + '">' + 'Läs hela artikeln' + '</a>')
                }
                idCount++;
                $('#artikelDiv' + (idCount++)).append('</div>')
            });
            $("#loadingIcon").hide();
            document.getElementById("containerDiv").style.display = "block"; // döljer loader och visar texten
        }
    </script>
</head>

<body>

    <div id="loadingIcon" class="loader"></div>

    <div class="container text-center animate-bottom" id="containerDiv">
        <h1 align="center" style="color:black">
            @{if (Session["illness"] != null)
                {
                    string illness = Session["illness"].ToString();
                    //if (illness.Substring(illness.Length-1) != "s")
                    //{
                    //    illness += "s"; // lägger till s på slutet av problemområdet.
                    //}
                    @Html.Raw(illness);
                } }problem kan bero på följande
        </h1>
    </div>
    <script>$("#containerDiv").hide();</script>
</body>