@using OpenForCitizen.Controllers
@{
    ViewBag.Title = "Home Page";
}
<head>
    <title></title>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/MainStylesheet.css">

    <style>
        .menulayout {
        min-width: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: white;
        min-width: 300px;
        position: center;
        border-radius: 15px;
        margin-bottom: 5px;
        border-style: solid;
        border-width:3px;
        border-color:gray;
    }
    </style>

</head>

<body>

    <div class="container text-center">
        <br /><br />
         <div class="row">
             
                 <div class="col-md-4 col-sm-12 ">
                     <form action="@Url.Action("SetCulture", "Language", new { culture = "se" })" method="post">
                         <button class="btn btn-default btn-grovup-lg menulayout" >
                             <p style="font-size:xx-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Hej</p>
                             <p style="font-size:medium; font-family:'Segoe UI',  Tahoma, Geneva, Verdana, sans-serif">Svenska</p>
                         </button>
                     </form>
                </div>
             
            <div class="col-md-4 col-sm-12" >
                <form action="@Url.Action("SetCulture", "Language", new { culture = "en" })" method="post">
                    <button class="btn btn-default btn-group-lg menulayout" >
                        <p style="font-size:xx-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Hello</p>
                        <p style="font-size:small; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">English</p>
                    </button>
                </form>
            </div>

             <div class="col-md-4 col-sm-12">
                 <form action="@Url.Action("SetCulture", "Language", new { culture = "es" })" method="post">
                     <button class="btn btn-default btn-group-lg menulayout" >
                         <p style="font-size:xx-large; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Hola</p>
                         <p style="font-size:small; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Español</p>
                     </button>
                 </form>
            </div>
        </div>

        <br>
    </div>
</body>