@{
    ViewBag.Title = "Home Page";
}
<head>
    <title></title>

</head>

<body>
    <div class="jumbotron">
        <h3>Välkommen till kronoparken</h3>
        <p><a class="btn btn-primary btn-lg">Hej <br/> Svenska</a></p>
    </div>
</body>