
@{
    ViewBag.Title = "Menu";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    .container-fluid {
        
    }
    .col-sm-6 {
        padding: 20px;
        background-color:lightgrey;
    }
    .col-md-6 {
        padding: 40px;
        background-color:lightgrey;
    }
    .col-lg-6 {
        
        background-color:lightgrey;
    }
</style>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6" style="border-style:solid; border-color:white;border-width:medium;">
            <span class="glyphicon glyphicon-user" style="font-size:40px;margin-top:auto"></span>
            <font size="10">Frisk</font>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6" style="border-style:solid; border-color:white;border-width:medium">
            <span class="glyphicon glyphicon-heart" style="font-size:40px;margin-top:auto"></span>
            <font size="10">Sjuk</font>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6" style="border-style:solid; border-color:white;border-width:medium">
            <span class="glyphicon glyphicon-info-sign" style="font-size:40px;margin-top:auto"></span>
            <font size="10">Info</font>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6" style="border-style:solid; border-color:white;border-width:medium">
            <span class="glyphicon glyphicon-question-sign" style="font-size:40px;margin-top:auto"></span>
            <font size="10">Frågor</font>
        </div>
    </div>