
@{
    ViewBag.Title = "Questions";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/MainStylesheet.css">
    <style>
        .glyphicon {
            font-size: 30px;
        }

        .col-centered {
            float: none;
            margin: 0 auto;
        }

        .bold {
            font-weight: bold;
        }

        img.VC {
            max-width: 100%;
            height: auto;
            border: solid;
            border-width: 1px;
            padding: 1px;
            background-color: #7f7f7f;
            border-radius: 25px;
        }

        h2 {
            font-size: 10vmin;
        }

        p {
            font-size: 4vmin;
        }

        .textbox {
            border-radius: 25px;
            border: solid;
            border-width: 1px;
            padding: 1vmin;
            margin-top: 5px;
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

        @@media(max-width:991px) {
            .col-xs-10 {
                float: none;
                margin: 0 auto;
            }
        }
    </style>
</head>

<div class="row">
    <div class="col-xs-10 col-centered text-center">
        <div class="textbox">
            <h2>Frågor?</h2>
            <p class="bold">
                Ring oss, så hjälper vi dig
            </p>
            <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            <p style="font-weight:bold"> 054 123 456</p>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px">
    <div class="col-xs-10 col-md-6">
        <img class="VC" src="~/Pictures/krpVC.JPG" />
    </div>
    <div class="col-xs-10 col-md-6 text-center">
        <div class="textbox">
            <p>
                <strong>Telefontider:</strong>
            </p>

            <p>Mån-fre 08:15–09:30 <br />Mån-fre 13–14</p>
        </div>
        <div class="textbox">
            <p>
                Skicka annars ett mail till:
                <a href="mailto:mail@exempel.se?subject=Min Fråga">mail@exempel.se</a>
                så svarar vi inom kort
            </p>
        </div>
    </div>
</div>


