
@{
    ViewBag.Title = "Sick";
}
<head>
</head>
<div>

    <h2 class="text-center">Sick</h2>

</div>
<div>
    test
</div>

<body>
    <div class="container">
        <div id="picture" class="col-lg-offset-1" >
             <img src="/Pictures/free-human-body-vector.jpg"class="col-lg-10" /> 

        </div>
    </div>
</body>