@{
    ViewBag.Title = "Sick";
}

<head>
    <script>
        function check(x, y) {
            if (x) {

            }
        }

        function getImageCoords(event, img) {
            var posX = event.offsetX ? (event.offsetX) : event.pageX - img.offsetLeft;
            var posY = event.offsetY ? (event.offsetY) : event.pageY - img.offsetTop;
            var width = img.width;
            var height = img.height;
            var pX = posX / width;
            var pY = posY / height;
            var coords = "X: " + posX + ", Y coords: " + posY + "<br>X in % : " + pX + ", Y  in %: " + pY;
            document.getElementById("client").innerHTML = coords;
        }
    </script>
</head>

<body>
    <h2>Sick</h2>
    <p id="client"></p>
    <div id="Container">
        <img style="max-height:100%;max-width:100%" alt="Klicka för att zooma" onclick="getImageCoords(event,this)"
             src="~/Pictures/BodyPic.jpg">
    </div>
    <div class="row">
        <p>Var gör det ont ?</p>

    </div>
</body>
