@{
    ViewBag.Title = "Sick";
}
<head>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <style>
    </style>
</head>
<body>

    <h1>Var gör det ont ?</h1>
    <svg width="250px" height="250px">
        <g class="triangleGroup">
            <polygon id="test" points="50,50 180,200 250,80" fill="#FFFFFF" stroke="#111">
            </polygon>
        </g>
    </svg>
    <button class="btn" id="reset">
        Ta bort val
    </button>
    <script>
        $('#test').on("click", function () {
            $('#test').css({ fill: "#111" });
        });

        $('#reset').on("click", function () {
            $('#test').css({ fill: "#ffffff" });
        });
    </script>
</body>
