@{
    ViewBag.Title = "Sick";
}

<head>
    <script type="text/javascript" src="~/Scripts/body-check.js"></script>
</head>


<body>
    <h2>Sick</h2>
    <p id="client"></p>
    <p id="BPart"></p>
    <div id="Container">
        <img id="body" style="border:dotted 1px;max-height:100%;max-width:100%" alt="Klicka för att zooma" onclick="getImageCoords(event,this)" src="~/Pictures/BodyPic.jpg">
    </div>
   
    <div class="row" style="float">
        <p>Var gör det ont ?</p>

    </div>

    <img src="/Pictures/BodyPic.jpg" alt="" usemap="#humanbody" />
    <map name="mymap">
        <area data-key="head" href="#" shape="poly" coords="125, 11, 107, 21, 101, 43, 107, 57, 111, 73, 143, 73, 149, 45, 151, 33, 143, 13" />
    </map>

    <script language="javascript">
        $('#humanbody').mapster({
            singleSelect: true,
            render_highlight: { altImage: "/Pictures/human body grey.jpg" }
        });

    </script>


   
</body>
