@{
    ViewBag.Title = "Sick";
}

<head>
    <script type="text/javascript" src="~/Scripts/body-check.js"></script>
    <script type="text/x-jquery-tmpl" src="~/scripts/jquery-1.10.2.min.js"></script>
    <style>
        img {
            border: solid 1px;
            max-height:100%;
            max-width:100%;
        }

        .selected {
            box-shadow: 0px 12px 22px 100px #333;
        }
    </style>
</head>

<body>
    <h2>Sick</h2>
    <p id="client"></p>
    <p id="BPart"></p>
    <div id="Container">
        <img alt="Välj kroppsdel" onclick="getImageCoords(event,this)" src="~/Pictures/BodyPic.jpg" usemap="#testmap">
        <map name="testmap">
            <area id="head" shape="rect" coords="175,0,230,70" onmouseover="document.getElementById('client').innerHTML = 'HEADER'">
        </map>
    </div>
    <div class="row">
        <p style="float">Var gör det ont ?</p>
    </div>
    <div class="row">

    </div>
</body>
